script(src='/components/jquery/jquery.min.js', type='text/javascript')
// script(src='/libs/jquery.mobile-1.2.0.min.js', type='text/javascript')
script(src='/components/jquery-ui-datepicker/js/jquery-ui-1.10.3.custom.min.js', type='text/javascript')
script(src='/components/iphone-style-checkboxes/jquery/iphone-style-checkboxes.js', type='text/javascript')
script(src='/components/holderjs/holder.js', type='text/javascript')
script(src='/components/bootstrap/js/bootstrap.min.js', type='text/javascript')
script(src='/components/angular/angular.min.js', type='text/javascript')
script(src='/components/moment/min/moment.min.js', type='text/javascript')
script(src='/javascripts/spa.js', type='text/javascript')
