head
    title
    link(rel='stylesheet', href='/components/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/components/elusive-iconfont/css/elusive-webfont.css')
    link(rel='stylesheet', href='/components/iphone-style-checkboxes/style.css')
    link(rel='stylesheet', href='/components/jquery-ui-datepicker/css/ui-lightness/jquery-ui-1.10.3.custom.min.css')
    link(rel='stylesheet', href='/stylesheets/screen.css')
    link(href="/stylesheets/print.css", media="print",  rel="stylesheet", type="text/css")
